@mixin layout_globalVariables {
    --layout-sideMenu-openWidth: 340px;
    --layout-sideMenu-closedWidth: 78px;
    --layout-sideMenu-width: var(--layout-sideMenu-openWidth);
}

@mixin mediaMobile {
    @media (max-width: 1023px) {
        @content;
    }
}

@mixin mediaNotMobile {
    @media (min-width: 1024px) {
        @content;
    }

}

@mixin mediaDesktopNarrow {
    @media (min-width: 1024px) and (max-width: 1365px) {
        @content;
    }
}

@mixin mediaDesktopDefault {
    @media (min-width: 1366px) and (max-width: 1919px) {
        @content;
    }
}

@mixin mediaDesktopWide {
    @media (min-width: 1920px) {
        @content;
    }
}

@mixin scrollbar_general {
    @include mediaNotMobile() {
        &::-webkit-scrollbar {
            width: 0.375em;
        }

        &::-webkit-scrollbar-track {
            background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--color-grayScale-70);
            border-radius: 0.375em;
        }

        @supports (scrollbar-color: var(--color-grayScale-70) transparent) {
            scrollbar-color: var(--color-grayScale-70) transparent;
        }
    }
}

@mixin scrollbar_hidden {
    &::-webkit-scrollbar {
        display: none;
    }

    @supports (scrollbar-width: none) {
        scrollbar-width: none;
    }
}