@import './layout.mixin';

$headerHeight: 71px;

.Header {
    flex-shrink: 0;
    width: 100%;
    position: relative;
    z-index: 2;

    transition: transform 0.5s;

    height: $headerHeight;
    background-color: var(--color-grayScale-offBlack);

    @include mediaMobile {
        display: block;
        position: fixed;
    }

    &___hidden {
        @include mediaMobile {
            transform: translateY(calc(-1 * #{$headerHeight}));
        }
    }
}