@import './layout.mixin';

.Scrollable {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    @include scrollbar_general;

    &___scrollbarHidden {
        @include scrollbar_hidden;
    }
}