@import './layout.mixin';

.Header {
    position: relative;
    width: 100%;
    z-index: 2;
    transition: transform 0.5s;
    background-color: var(--color-grayScale-offBlack);

    @include mediaMobile {
        &___fixed {
            position: fixed;
        }

        &___scrolled {
            transform: translateY(calc(-1 * 100%));
        }
    }
}