@import '../../layout/layout.mixin';

.SideMenu {
    $topHeight: 93px;
    $bottomHeight: 93px;

    @include mediaMobile {
        display: none;
    }

    --sideMenu-openWidth: 340px;
    --sideMenu-closedWidth: 78px;
    --sideMenu-width: var(--sideMenu-openWidth);
    --sideMenu-containerWith: var(--sideMenu-openWidth);
    --sideMenu-open: 1;

    width: var(--sideMenu-containerWith);
    height: 100%;
    flex: 0 0 auto;
    transition: width 0.5s;
    border-right: 1px solid rgba($color: #D9D9D9, $alpha: 0.2);

    @include mediaDesktopNarrow {
        --sideMenu-containerWith: var(--sideMenu-closedWidth);
        --sideMenu-width: var(--sideMenu-closedWidth);
        --sideMenu-open: 0;
    }

    @keyframes overlay-fade-in {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes overlay-fade-out {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    &__overlay {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 2;
        background-color: rgba($color: #19191a, $alpha: 0.8);
        backdrop-filter: blur(2px);
    }

    &___closed {
        --sideMenu-containerWith: var(--sideMenu-closedWidth);
        --sideMenu-width: var(--sideMenu-closedWidth);
        --sideMenu-open: 0;
    }

    &___open {
        --sideMenu-width: var(--sideMenu-openWidth);
        --sideMenu-open: 1;
    }

    @include mediaDesktopNarrow {
        &___open &__overlay {
            display: block;
            animation: overlay-fade-in 500ms forwards;
        }

        &[sco-sidemenu-closing] &__overlay {
            display: block;
            animation: overlay-fade-out 500ms forwards;
        }
    }

    &__layout {
        position: relative;
        height: 100%;
        width: 100%;
        transform: translateZ(0);

        @include mediaDesktopNarrow {
            z-index: 5;
            width: var(--sideMenu-width);
            transition: width 0.5s;
        }
    }

    &__container {
        position: relative;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: $topHeight 1fr $bottomHeight;

        background-color: var(--color-grayScale-80);
    }

    &__top {
        padding: 50px 24px 14px 24px;

        container-type: inline-size;
    }

    &__logoFull {
        display: none;
    }

    &__logoIcon {
        display: block;
    }

    @container (min-width: 125px) {
        &__logoFull {
            display: block;
        }

        &__logoIcon {
            display: none;
        }
    }

    &__bottom {
        padding: 14px 24px 24px 24px;
    }

    &__bottomContent {
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        border-top: 1px solid var(--color-grayScale-70);
    }

    &__main {
        padding: 14px 24px;

        container-type: inline-size;
    }

    $mainGradientTransitionSpeed: 0.25s;

    &__mainGradientTop {
        opacity: 0;
        position: relative;
        transition: opacity $mainGradientTransitionSpeed;
    }

    &__mainGradientTop::before {
        position: fixed;
        width: 100%;
        height: 150px;
        top: $topHeight;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0, var(--color-grayScale-80) 100%);
        z-index: 2;
        content: '';
        pointer-events: none;
    }

    &__mainGradientBottom {
        opacity: 0;
        position: relative;
        transition: opacity $mainGradientTransitionSpeed;
    }

    &__mainGradientBottom::before {
        position: fixed;
        width: 100%;
        height: 150px;
        bottom: $bottomHeight;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0, var(--color-grayScale-80) 100%);
        z-index: 2;
        content: '';
        pointer-events: none;
    }
}