@import '../../layout/layout.mixin';

.SideMenu {
    $topHeight: 93px;
    $bottomHeight: 93px;

    width: var(--sideMenu-width);
    height: 100%;
    flex: 0 0 auto;
    transition: width 0.5s;
    border-right: 1px solid rgba($color: #D9D9D9, $alpha: 0.2);

    @include mediaDesktopNarrow {
        &::after {
            position: fixed;
            top: 0;
            left: var(--sideMenu-width);
            opacity: var(--sideMenu-open);
            transition: left 0.5s, opacity 0.5s;
            z-index: 999;
            width: 100%;
            height: 100%;
            content: '';

            background-color: rgba($color: #19191a, $alpha: 0.8);
            backdrop-filter: blur(2px);
        }
    }

    @include mediaMobile {
        display: none;
    }

    &__layout {
        height: 100%;
        width: 100%;
        transform: translateZ(0);
    }

    &__container {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: $topHeight 1fr $bottomHeight;

        background-color: var(--color-grayScale-80);
    }

    &__top {
        padding: 50px 24px 14px 24px;

        container-type: inline-size;
    }

    &__logoFull {
        display: none;
    }

    &__logoIcon {
        display: block;
    }

    @container (min-width: 125px) {
        &__logoFull {
            display: block;
        }

        &__logoIcon {
            display: none;
        }
    }

    &__bottom {
        padding: 14px 24px 24px 24px;
    }

    &__bottomContent {
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        border-top: 1px solid var(--color-grayScale-70);
    }

    &__main {
        padding: 14px 0px;
    }

    $mainGradientTransitionSpeed: 0.25s;

    &__mainGradientTop {
        opacity: 0;
        position: relative;
        transition: opacity $mainGradientTransitionSpeed;
    }

    &__mainGradientTop::before {
        position: fixed;
        width: 100%;
        height: 150px;
        top: $topHeight;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0, var(--color-grayScale-80) 100%);
        z-index: 2;
        content: '';
        pointer-events: none;
    }

    &__mainGradientBottom {
        opacity: 0;
        position: relative;
        transition: opacity $mainGradientTransitionSpeed;
    }

    &__mainGradientBottom::before {
        position: fixed;
        width: 100%;
        height: 150px;
        bottom: $bottomHeight;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0, var(--color-grayScale-80) 100%);
        z-index: 2;
        content: '';
        pointer-events: none;
    }
}