.Toggle {
    border: 0;
    background-color: transparent;
    color: var(--color-grayScale-60);
    height: 26px;
    width: 26px;
    cursor: pointer;

    @media(hover: hover) {
        &:hover {
            color: var(--color-grayScale-offWhite);
        }
    }

    &:active {
        color: var(--color-grayScale-offWhite);
    }

    &__icon {
        rotate: calc(180deg * var(--sideMenu-open));
    }
}