@import '../sideMenu.mixin';

.ItemsContainer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0px;
}

.Divider {
    height: 1px;
    margin: 16px 24px;
    background-color: var(--color-grayScale-70);
}

.PopOutContainer {
    position: relative;
    width: 100%;
    height: 100%;
}

.PopOut {
    display: none;
    position: absolute;
    z-index: 5;
    pointer-events: none;

    &___visible {
        display: block;
    }
}

.Item {
    position: relative;
    height: 50px;
    display: grid;
    grid-template-columns: 26px 1fr;
    gap: 16px;
    align-items: center;
    color: var(--color-grayScale-60);
    text-decoration: none;
    padding: 0px 24px;

    @include sideMenuClosed {
        gap: 0px;
        padding-right: 0px;
    }

    @media (hover: hover) {
        &:hover {
            color: var(--color-grayScale-offWhite);
            cursor: pointer;
        }
    }

    &__icon {
        justify-self: center;
        height: 26px;
        width: 26px;
    }

    &__label {
        white-space: nowrap;

        @container (max-width: 300px) {
            display: none;
        }
    }

    &__popOut {
        width: 100%;
        height: 50px;
        padding-right: 16px;
        background-color: var(--color-grayScale-80);
        border-radius: 0px 12px 12px 0px;
        display: flex;
        align-items: center;
    }
}

.LinkItem {
    text-decoration: none;
}