@import '../feature/framework/layout/layout.mixin';
@import '../feature/framework/base.mixin';

:root {
  @include color_globalVariables;
  @include text_globalVariables;

  // Legacy
  --theme-primaryColour-light: #43FFB1;
  --theme-primaryColour-dark: #FC0A6A;
  --theme-supportColour1: #FCF10A;
  --theme-supportColour2: #1AE6FF;
  --theme-supportColour3: #9604FF;
  --theme-supportColour4: #f1f1f1;
  --theme-supportColour5: #1d1d27;
  --theme-danger: #F24726;
}

// Reset
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
}

ul {
  list-style: none;
}

// Base
html,
body {
  @include text_normal;
  font-family: var(--font-text);
  color: var(--color-grayScale-offWhite);
  background-color: var(--color-grayScale-offBlack);
  
  overflow: hidden;
  height: 100%;
  width: 100%;
}

p {
  margin: 0;
  margin-bottom: 24px;
}


// Links
a {
  color: var(--color-green);
}

a:hover {
  color: var(--color-grayScale-offWhite);
}

// Forms
input {
  font-family: var(--font-text);
}

input:disabled,
button:disabled {
  cursor: not-allowed;
}