// TODO - alias this
@import '../feature/framework/layout/layout.mixin';

.RootContainer {
    display: block;
    height: 100%;
}

.AppContainer {
    position: relative;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 100%;
}

.Main {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;

    &__footer {
        width: 100%;
        z-index: 1;

        background-color: darkmagenta;
    }
}