@import '../../framework/navigation/sideMenu/sideMenu.mixin';

.FavouritesItem {
    height: 50px;
    padding: 0px 24px;
    margin: 14px 0px;
    transition: padding 0.25s;
    color: var(--color-grayScale-offWhite);

    &__box {
        position: relative;
        height: 100%;
        background-color: var(--color-grayScale-offBlack);
        border-radius: 6px;

        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
    }

    @include sideMenuClosed {
        padding: 0px 12px;
    }
}