@mixin color_globalVariables {
    --color-green: #4fd97f; // Emerald
    --color-blue: #5271eb; // Royal Blue
    --color-yellow: #e6e153; // Maximum Green Yellow
    --color-coral: #eb4465; // Paradise Pink
    --color-orange: #eb8e37; // Tiger's Eye

    --color-grayScale-100: #000000;
    --color-grayScale-offBlack: #19191a;
    --color-grayScale-80: #292929;
    --color-grayScale-70: #454545;
    --color-grayScale-60: #7a7a7a;
    --color-grayScale-50: #a6a6a6;
    --color-grayScale-40: #b8b8b8;
    --color-grayScale-20: #e8e8e8;
    --color-grayScale-offWhite: #fafafa;
    --color-grayScale-0: #ffffff;
}

// Text
@mixin text_globalVariables {
    --font-heading: "Outfit";
    --font-text: "Outfit";
}

@mixin fontWeight_medium{
    font-weight: 500;
}

@mixin fontWeight_regular{
    font-weight: 400;
}

@mixin text_normal {
    @include fontWeight_regular;
    font-size: 1rem;
    line-height: 1.125em;
    letter-spacing: 0em;
}

@mixin text_small {
    font-size: 0.875rem;
    line-height: 1.14em;
    letter-spacing: 0;
}

// Testing
@mixin themedBorder {
    border-radius: 4px;
    background-image:
        linear-gradient(90deg, var(--theme-primaryColour-light) 25%, rgba(0, 0, 0, 0) 55%),
        linear-gradient(-90deg, var(--theme-primaryColour-dark) 25%, rgba(0, 0, 0, 0) 55%),
        linear-gradient(180deg, var(--theme-primaryColour-light) 25%, rgba(0, 0, 0, 0) 75%),
        linear-gradient(180deg, rgba(0, 0, 0, 0) 25%, var(--theme-primaryColour-dark) 75%);
    background-size: 100% 3px, 100% 3px, 3px 100%, 3px 100%;
    background-position: left top, left bottom, left top, right top;
    background-repeat: no-repeat, no-repeat, repeat-y, repeat-y;
}