.ButtonsContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &___left {
        gap: 8px;
        justify-content: flex-start;
        width: 100%;
    }

    &___right {
        gap: 8px;
        justify-content: flex-end;
        width: 100%;
    }
}