.Button {
    border: 0;
    cursor: pointer;
    font-family: 'Outfit';
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    box-sizing: border-box;

    :hover {
        background-color: transparent;
    }

    // Shapes
    &___rectangle {
        border-radius: 4px;
        padding: 11px 18px;
        min-width: 120px;
    }

    &___circle {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        padding: 0;
        border: 2px solid transparent;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    // Sizing
    &___small {
        font-size: 12px;
        font-weight: normal;
        padding: 4px 8px 3px 8px;
        border: 1px solid;
        min-width: 0;
    }

    &___fullWidth {
        width: 100%;
    }

    // Icon
    &___icon {
        height: 18px;
        width: 18px;
        margin-left: 10px;
    }

    // Styles
    &___primary {
        background-color: var(--theme-primaryColour-light);
        color: #000000;
    }

    &___primary:hover {
        background-color: #FFFFFF;
    }

    &___secondary {
        padding: 9px 18px;
        border: 2px solid;
        border-color: #FFFFFF;
        background-color: transparent;
        color: #FFFFFF;
    }

    &___secondary.Button___small {
        padding: 4px 8px 3px 8px;
        border: 1px solid;
    }

    &___secondary:hover {
        background-color: #FFFFFF;
        color: #000000;
    }

    &___tertiary {
        border-radius: 0px;
        padding: 9px 18px;
        border: 2px solid;
        border-color: transparent;
        font-weight: 500;
        background-color: transparent;
        color: #FFFFFF;
    }

    &___tertiary.Button___small {
        border: 0;
    }

    &___tertiary:hover {
        color: #FFFFFF;
        text-decoration: underline;
        text-decoration-color: #FFFFFF;
    }

    &___support1 {
        background-color: var(--theme-supportColour1);
    }

    &___support2 {
        background-color: var(--theme-supportColour2);
    }

    &___support3 {
        background-color: var(--theme-supportColour3);
    }

    &___danger {
        border: 2px solid var(--theme-danger);
        background-color: transparent;
        color: var(--theme-danger);
        align-items: center;
        padding: 4px;
    }
    &___danger.Button___small {
        padding: 4px 8px 3px 8px;
        border: 1px solid var(--theme-danger);
    }

    &___danger:hover {
        background-color: transparent;
        color: #FFFFFF;
    }
}

// To be re-factored
.Button__small {
    .Button___icon {
        height: 16px;
        width: 16px;
        margin-left: 8px;
    }
}

.Button___circleSmall {
    max-width: 25px;
    max-height: 25px;
    font-size: 10px;
    font-weight: 400;
    cursor: pointer;
    border-radius: 50%;
    padding: 0;
    border: 1px solid transparent;

    button {
        padding: 0;
    }
}

.Button___circle {
    .Button___icon {
        display: none;
    }
}