:root {
  // Layout
  --layout-mainMenu-maxWidth: 340px;
  --layout-mainMenu-width: var(--layout-mainMenu-maxWidth);

  --theme-primaryColour-light: #43FFB1;
  --theme-primaryColour-dark: #FC0A6A;
  --theme-supportColour1: #FCF10A;
  --theme-supportColour2: #1AE6FF;
  --theme-supportColour3: #9604FF;
  --theme-supportColour4: #f1f1f1;
  --theme-supportColour5: #1d1d27;
  --theme-danger: #F24726;

  --theme-text-colour: #9B9B9B;
  --theme-heading-colour: #F6F6F6;
  --theme-error-colour: #ff9c55;

  --theme-background-colour-dark: #242430;
  --theme-background-colour-darker: #161620;
  --theme-background-colour-darkest: #0F0F19;



  /* NEW COLOR VARIABLES */
  --theme-primaryColor: #43FFB1;
  --theme-secondaryColor: #FC0A6A;
  --theme-tertiaryColor: #1AE6FF;
  --theme-dangerColor: #F24726;
  --theme-warningColor: #FCF10A;
  --theme-infoColor: #1aa0ff;
  --theme-successColor: #6dff04;
  --theme-lightColor: #f1f1f1;
  --theme-grayColor: #bfbfbf;
  --theme-darkColor: #242430;
  --theme-darkerColor: #161620;
  --theme-darkestColor: #0F0F19;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
}

html,
body,
div,
li,
ul,
a,
span,
input,
p {
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Open Sans";
  background-color: #242430;
  color: #FFFFFF;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Outfit";
  margin: 0;
  margin-bottom: 8px;
  color: var(--theme-heading-colour);
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

a {
  text-decoration-color: var(--theme-primaryColour-light);
  color: #FFFFFF;
}

a:hover {
  background-color: var(--theme-primaryColour-light);
  color: #000000;
}

p {
  font-size: 14px;
  margin: 0;
  margin-bottom: 24px;
}

input {
  font-family: 'Open Sans';
}

input:disabled,
button:disabled {
  cursor: not-allowed;
}