@import 'base.mixin';

.Heading1 {
    @include fontWeight_medium;
    font-size: 3.125rem;
    line-height: 1em;
    letter-spacing: -0.04em;
}

.Heading2 {
    @include fontWeight_medium;
    font-size: 2.5rem;
    line-height: 1em;
    letter-spacing: -0.04em;
}

.Heading3{
    @include fontWeight_medium;
    font-size: 1.625rem;
    line-height: 1em;
    letter-spacing: -0.02em;
}

.Heading4{
    @include fontWeight_medium;
    font-size: 1.125rem;
    line-height: 1em;
    letter-spacing: -0.02em;
}

.HeadingSection{
    @include fontWeight_medium;
    font-size: 0.6875rem;
    line-height: 1.27em;
    letter-spacing: 0;
}